form {
    width: 400px;
    margin-right: 50px;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 5%;
    border: 2px solid #ccc;
}

form > div {
    margin-bottom: 15px;
}


form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="file"] {
    border: none;
}
