header {
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 10px;
    color: #6a6565;
    font-weight: bold;
    text-align: center;
    height: 120px;
}
.text-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 50px;
}

.text-container {
    max-width: 600px;
    margin-bottom: 20px;
}

.text-table {
    display: table;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}

.text-row {
    display: table-row;
}

.text-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
}

.text-cell:first-child {
    font-weight: bold;
    background-color: #f0f0f0;
    width: 200px;
}
